<h1>Legacy Church Project</h1>

<% queries = Queries::Base.get_all %>
<% query_type = @params[:query_type] unless !@params %>
<% raw_data = [] %>

<% queries.each do |q| %>
	<%= form_tag 'index.json', remote: true, class: 'query' do %>
		<% form_data = @params[:church] unless (!@params or q != query_type.constantize) %>
		<%= display(q, ':church', form_data) %>
		<%= submit_tag('Go!') %>
	<% end %>


<% end %>

<table class="data-table">
</table>

<svg class="chart">
</svg>

<script type="text/javascript">
var churches = undefined;
$(document).ready(function() {
	$(".query").on("ajax:success", function(e, data, status, xhr) {
		$(".chart").empty();
		churches = xhr.responseText;
		show_histogram(churches);
	}).on("ajax:error", function (e, xhr, status, error) {
		$(".data-table").append("<p>ERROR</p>");
	}); 
});
</script>



