// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* query form */
.query-block { margin-bottom: 150px; }

/* selectmenu form element */

.church-property { position: relative; }
.first-item { display: inline-block; }
.arrow { float: right; font-family: sans-serif; pointer-events: none; }
.query-menu { position: absolute; left: 0; top: 3px; padding-left: 0; }
.top-level-item ul, .sub-item ul 
{ 
	position: absolute;
	padding: 0;
	left: 100%;
	top: 0;
}

.query-menu, .query-menu ul { list-style-type: none; }
.sub-item 
{ 
	display: none; 
}

.first-item, .top-level-item, .sub-item
{
	padding: 2px 4px 1px 4px;
	border: 1px solid grey;
	background: #eee;
	width: 300px;
	cursor: pointer;
	font-size: 13px;
	font-family: Arial;
}
.top-level-item, .sub-item { margin-top: -1px; }

.leaf-item.selected { background: lightblue; }

/* Query controls */
.query-results 
{ 
	display: inline-block; 
	max-height: 715px; 
	max-width: 1015px;
	overflow-y: scroll;
}
.query-controls
{
	float: right;
	width: 300px;
	display: none;
}
.control { margin-bottom: 20px; }

/* Generic elements */
text { font: 10px sans-serif; }

.axis path, .axis line 
{
  fill: none;
  stroke: #000;
  shape-rendering: crisp-edges;
}

.data-details tr td, .data-details th { padding-right: 30px; text-align: left;}

/* Histogram */
.chart-element.bar { fill: steelblue; }
.chart-element.bar:hover {fill: sandybrown; }
.chart-element.bar.selected, .chart-element.bar.selected:hover { fill: orange; }

.bar text, .axis text { text-anchor: middle; fill: black; }
.median text { text-anchor: start; }

/* Time series */
.chart-element.line { fill: none; stroke: steelblue; stroke-width: 2px; }
.chart-element.line:hover {stroke: sandybrown; stroke-width: 4px; }
.chart-element.line.selected, .chart-element.line.selected:hover 
{ 
	stroke: orange; 
	stroke-width: 4px; 
}

