// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* Generic elements */
text { font: 10px sans-serif; fill: black; }

.axis path, .axis line 
{
  fill: none;
  stroke: #000;
  shape-rendering: crisp-edges;
}

.data-details tr td, .data-details th { padding-right: 30px; }

/* Histogram */
.chart-element.bar { fill: steelblue; }
.chart-element.bar:hover {fill: sandybrown; }
.chart-element.bar.selected, .chart-element.bar.selected:hover { fill: orange; }

.bar text, .axis text { text-anchor: middle; }
.median text { text-anchor: start; }

/* Time series */
.chart-element.line { fill: none; stroke: steelblue; stroke-width: 1.5px; }
.chart-element.line:hover {stroke: sandybrown; stroke-width: 4px; }
.chart-element.line.selected, .chart-element.line.selected:hover 
{ 
	stroke: orange; 
	stroke-width: 4px; 
}

